body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

#formalario {
  /* background-color: rgb(204, 204, 204); */
  text-align: center;
  border: solid rgb(197, 197, 197) 1px;
  border-radius: 8px;
  width: 300px;
  padding: 20px 40px;
  margin-top: 20px;
}

#formalario>h1 {
  font-size: 25px;
  color: rgb(48, 89, 163);
}

.campo_formulario {
  margin-top: 20px;
  text-align: start;
}


.campo_formulario>input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
}

.txtCodigo {
  width: 150px;
  height: 30px;
}

.CodigoInvalido {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.botao {
  margin-top: 15px;
  color: white;
  background-color: rgb(48, 89, 163);
  border: solid 1px;
  border-radius: 8px;
  width: auto;
  height: 40px;
}


.botao:hover {
  background-color: rgb(36, 68, 128);
}

section {
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}



section>h1 {
  font-size: 15px;
  color: rgb(48, 89, 163);
}

footer {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-basis: 100%;
}

.Mensagem_concluido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  height: 100vh;
  flex-wrap: wrap;
}

.Mensagem_concluido>p {
  font-size: 2rem;
  color: rgb(48, 89, 163);
  font-weight: bold;
}

.concluido {
  width: auto;
  height: 300px;
}

section>p {
  text-align: left;
  padding: 0px 20px;
}

.g-recaptcha {

  padding: 10px 4px;
}

#nome {
  text-transform: capitalize;
}